.logo {
    width: 60px ;
}
/*.tituloPersonajes{ 
    text-align: center;
    margin-left: 20px;
}*/

.margin-auto{
    
    text-align: center;
    margin: auto;
    background-color: #f7d3a7;
    background-size: 10%;
    background-position: 10%;

}

.parrafo {
    margin-top: 50px;
}

.nombreProductos {
    text-align: center;
    background-color: white;
}

.margin-img {

}

/*.body {
    height: 800px;
    background-image: url('https://images8.alphacoders.com/693/thumbbig-693740.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: 25rem;
    background-position: center;
    background-attachment: fixed;
}*/

.body {
    background-image: url('https://fondosmil.com/fondo/20294.jpg');
    background-size: 100%;
    background-attachment: fixed ;
    
}

.img-perfil {
    width: 70px;
}

.tienda {
    background-image: url('https://fondosmil.com/fondo/20288.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

.footer {
    background-color: #f7d3a7;
}

.icono {
    font-size: 20px;
    color: #CE9855;
}

#form {
    width: 50%;
    margin: auto;
}
#offcanvasTopLabel {
    margin: auto;
}